.flexboxall {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.flexbox-1 {
  background-color: lightblue;
  width: 200px;
}

.flexbox-2 {
  background-color: lightpink;
  width: 75px;
}

.flexboxall2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.flexbox-3 {
  background-color: lightblue;
  width: 100px;
}

.flexbox-4 {
  background-color: lightpink;
  flex: 1;
}

.flexbox-5 {
  background-color: lightblue;
  width: 70px;
}

.flexboxall3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  background-color: lightpink;
  justify-content: space-between;
  align-items: center;

}

.flexbox-6 {
  width: 75px;
}

.flexbox-7 {
  width: 75px;
}

.flexbox-8 {
  width: 75px;
}

.flexbox-9 {
  width: 75px;
}

.flexboxall4 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: grey 1px solid;

}

.flexbox-10 {
  background-color: lightpink;
  width: 75px;
}

.flexbox-11 {
  background-color: lightpink;
  width: 75px;
}


/* SOLUTION */
/* 12C) */
.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.lightpink {
  background-color: lightpink;
}

/* SOLUTION 12D) */
.flexbox200 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: grey 1px solid;
}

/* Exercise 12E) */
div {
  font-family: Arial, Helvetica, sans-serif;
}

.exercise12e-container {
  border: 1px solid grey;
  border-radius: 12px;
  width: 300px;
  margin-top: 30px;
}

.flexbox-one {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 12px;
  align-items: center;
}

.number {
  background-color:  cornflowerblue;
  color: white;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 14px;
  font-weight: bold;
}


/* Exercise 12F) */
.header12f {
background-color: rgb(139, 83, 192);
margin-top: 30px;
padding: 6px 12px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
color: white;
font-size: 14px;
max-width: 700px;
}

.home12f {
font-weight: bold;
}

input {
max-width: 300px;
width: 300px;
border-radius: 200px;
padding: 5px 10px;
}

.download {
  border: white 1px solid;
  background-color: rgb(139, 83, 192);
  color: white;
  padding: 5px 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.katteprofiler {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.ppicture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.pinfo {
  width: 200px;
}

.pname {
  font-weight: bold;
  margin-bottom: 3px;
}

.phandle {
  color: grey;
  margin-bottom: 5px;
}

.pcategory {
  color: grey;
  font-size: 13px;
}

.follow-button {
  background-color: cornflowerblue;
  color: white;
  padding: 10px 15px;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;

}
